
    <section>
      <div class="container">
        <div class="row pt-5 ">
          <div class="col-md-4 pt-4">
            <div class="card">
              <img src="../images/timetable.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Attendence</h5>
                <a href="admin/admin-attendence" class="btn btn-primary">Attendence</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 pt-4">
            <div class="card" >
              <img src="../images/time table.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Add Time Table</h5>
                <a href="/admin/view-time-table" class="btn btn-primary">Add Time Table</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 pt-4">
            <div class="card">
              <img src="../images/class.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Add Classes</h5>
                <a href="/timetable" class="btn btn-primary">Add Class</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
