 <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand text-white" style="font-weight: bold; font-size: 33px;" href="/admin/">ABC School/Teachers</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars fa-2x text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="/view-student">Add Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="#">Pricing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
     <style>
        ul li{
            font-weight: bold;
        }
    </style>