<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="attendence-space">
                <form action="/attendence" method="POST">
                    <h3>Enter Attendence</h3><br>
                    <input class="sname" type="text" name="Name" value="{{student.StudentName}}"><br><br>
                    <label for="">Attendence</label>
                    <input type="text" name="attendence" value="Present" class="form-control"><br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>